s2_mnist.gz
MNIST_data
TrainData_6000_Pos_Depth
Datasmall
Backup_Data
cache
CheckpointEpoch16
DataToPreSplit
2_2_singleBatch_E159
3_3_singleBranch
5_5_singleBranch
SingleBranchHpLp
wandb
SphericalModel_maxpool
SphericalModel_so3
TrainProgressPhotos