CreatedImagesFromScript
DataWithOrientationHM_normalized
NewDataModelInfo
TrainData_6000_Pos_Depth
DataToPreSplit
TrainData_6000_Pos_Depth_GMM_BWHigh
DataToPreSplit_GMM_BWHigh
DataForTraining_GMMKDEBandwidthwas0.8
FirstModelThatWorked
GitbasedpaperWithHalfQuarterResolution
Gradboost
SphericalModel_maxpool
SingleBranchHpLp
5_5_singleBranch_featuremappic
wandb
TrainProgressPhotos
DataToPreSplit_High_res
TrainData_6000_Pos_Depth_High_res
cache

AugmentedData_RandomPoints_checkpoint.pth.tar
checkpoint_best_loss.pth.tar

